* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body{
  margin: 0;
  padding: 0;
}
.theme-background {
  background-color: black;
}

.text-theme-color {
  color: white
}

.page-padding {
  padding: 0px 144px;
  display: flex;
  flex-direction: column;
  gap: 144px;
  padding: 144px;
}

.section-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -0.012em;
  text-align: center;
  color: white;
}

.cta-btn {
  padding: 0px 16px;
  gap: 8px;
  border-radius: 6px;
  opacity: 0px;
  height: 32px;
  color: #18181b;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 28px;
  text-decoration: none;
  vertical-align: middle;
}
.header {
  max-height: 48px;
  min-height: 48px;
  display: flex;
  padding: 0px 48px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #27272A;
}.left-nav-containts {
  display: flex;
  gap: 32px;
}
.upper-head {
  display: flex;
  justify-content: space-between;
}
.right-nav-containts {
  display: flex;
  gap: 32px;
}
.brandicon {
  width: auto;
  max-height: 48px;
  min-height: 48px;
}
.login {
  background-color: black;
  color: #d9d9d9;
  align-items: center;
  border: 0px;
}
.login-btn {
  display: flex;
  align-items: center;
}
.signup {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  color: black;
  background-color: #fafafa;
}
:root {
  --toggle-bg: #fafafa;
  --toggle-bg-dark: #27272A;
}

body.dark {
  background-color: #27272A;
  color: #d9d9d9;
}
