.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
  border-top: 2px solid #27272a;
}
.other-header-containts {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.brandicon {
  width: auto;
  max-height: 48px;
  min-height: 48px;
}

.right-nav-containts {
  display: flex;
  flex-direction: flex-end;
  gap: 32px;
}


@media(max-width:720px){
  .brandicon{
    margin: auto;
  }
  .other-header-containts{
    margin: auto;
    text-align: center;
  }
  .footer {
    flex-direction: column;
  height: unset;

  }
  .right-nav-containts{
    display: flex;
    justify-content: space-between;
  }
}