.register-highlight {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;

  color: #ffffff;
  border: none;
  font-size: 16px;
}
.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  font-size: 16px;
}
.signup-Card {
  width: 800px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
}
.left-Part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 50%;
  min-width:320px;
  padding: 20px;
}
.right-Part {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  width: 50%;
  min-width:320px;
  max-width: 80vw;
}
.brandIcon {
  width: 200px;
  max-width: 80vw;
  object-fit: contain;
  margin-bottom: 20px;
}
.wholeSignupScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardHeader h1 {
  margin: 0;
  text-align: center;
  padding-top: 32px;
}
.cardContents {
  padding: 20px;
}
.mainPart h5 {
  margin: 10px 0;
}
.mainPart input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.signupButton button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  font-size: 16px;
}
.bottomConfirmationPart {
  margin-top: 20px;
}
.member-Check {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member-Check p {
  margin: 5px 0;
}
.login-options button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}
#rem.box {
  max-width: fit-content;
}
.checkbox-container {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
}

@media (max-width: 720px) {
  .signup-Card {
    display: flex;
    flex-direction: column;
  }
  .cardHeader h1 {
    margin: 0;
    padding-top: 32px;
  }
  .right-Part{
    width: 100%;
    max-width: 100%;
  }
   .left-Part{
    width: 100%;
    max-width: 100%;
  }
}
