.bannercontent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  max-width: 672px;
  margin: auto;
}
.getstarted-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.intro {
  text-align: center;
  color: white;
}
.sub-heading {
  color: #fafafa;
  text-align: center;
}
